.characterListWrapper {
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-radius: 20px;
  background-color: var(--bg-box);
  text-align: center;
  -webkit-box-shadow: 5px 5px 20px -3px #000000;
  box-shadow: 5px 5px 20px -3px #000000;
}
.links {
  color: #000;
  font-weight: 900;
  font-size: 1.1rem;
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}
.loadingFailParagraph {
  color: var(--white-text);
}
